* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    transition: all 0.2s ease;
}

.logo {
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
    background: #ff3300;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff3300;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    font-size: 20px;
    color: #fff;
}

.header-text {
    font-size: 18px;
    font-weight: 300;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 10px;
    font-family: Monospace, Arial, Helvetica, sans-serif;
}

.header-text h1 span {
    color: #ff3300;
}

/* ---About--- */

#about {
    padding: 80px 0 40px 0;
    color: #262626;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 55px;
    font-weight: 700;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    color: #000;
}

.about-col-2 h1 {
    margin-bottom: 10px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff3300;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-content ul li {
    list-style: none;
    font-weight: 400;
    margin: 10px 0;
}

.tab-content ul li span {
    color: #ff3300;
    font-size: 14px;
    font-weight: 400;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}

/* ---Services---*/

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #162636;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}

.services-list div img {
    width: 15%;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff3300;
    transform: translateY(-10px);
}

.cta {
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.cta:hover {
    background-color: #162636;
    color: #fff;
}

/*---Work/Portfolio---*/

#portfolio {
    padding: 50px 0;
}

/* .work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 40px;
    margin-top: 50px;
} */

/* .work-grid .project-image {
    width: 100%;
    display: block;
    transition: transform 0.5s;
} */

/* .work-grid .grid-info h2 {
    margin-bottom: 20px;
}

.work-grid .grid-info p {
    margin-bottom: 25px;
} */

.grid-info .grid-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.grid-info .grid-link {
    background: #162636;
    padding: 0.5rem 1rem;
    color: #fff;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.work {
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #162636);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
    color: #fff;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a img {
    margin-top: 20px;
    color: #ff3300;
    text-decoration: none;
    background: #fff;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.work-tools .tool {
    font-size: 14px;
    background: #ff3300;
    padding: .4rem .8rem;
    border-radius: 1rem;
}

.link-icons {
    display: flex;
    align-items: center;
}

.link-icons div {
    margin: 10px;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #162636;
    padding: 14px 50px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: background 0.5s;
}

.btn.btn-more {
    cursor: not-allowed;
}

.btn:hover {
    background: #ff3300;
}

/*---Contact---*/

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;

}

.contact-left a {
    text-decoration: none;
    color: #000;
}

.contact-left a:hover {
    color: #162636;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p img {
    color: #162636;
    margin-right: 15px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons img {
    width: 20px;
    margin-right: 15px;
}

.btn.btn-download,
.btn.btn-submit {
    display: inline-block;
    background: #162636;
    color: #fff;
}

.btn.btn-download {
    padding: 14px 30px;
    font-size: 18px;
    margin-top: 30px;
}

.btn.btn-download:hover {
    background: #ff3300;
    color: #fff;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
}

form .btn.btn-submit {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}

form .btn.btn-submit:hover {
    background: #ff3300;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}



.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

/*---Media Queries---*/

nav img {
    display: none;
}

@media only screen and (max-width: 600px) {

    .logo {
        font-family: Monospace, Arial, Helvetica, sans-serif;
        font-size: 24px;
        padding: 8px 10px;

    }

    #header {
        height: 60vh; /* Maintain height for larger screens */
        background-image: url("../img/bg.jpg");
        background-size: cover; /* Ensures the image covers the entire area */
        background-position: center; /* Center the image for better visual appeal */
        display: flex; /* Enables flexbox layout */
        align-items: center; /* Vertically center content */
        justify-content: center; /* Horizontally center content */
        color: white; /* Default text color for contrast */
        padding: 20px; /* Add some padding for inner content */
    }
    

    .header-text {
        margin-top: 30%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav img {
        display: block;
        width: 35px;
        padding: 5px;
        border-radius: 2px;
        cursor: pointer;
    }
    
    nav ul {
        background: #fff;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: #162636;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav ul img {
        position: absolute;
        top: 25px;
        left:25px;
        cursor: pointer;
        width: 30px;
    }

    .sub-title {
        font-size: 35px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}